<%- include header.html %>
<style>
    .container .main{position:relative;margin-top:72px;height:594px;width:100%;}
    .main .contact{position:relative;top:50%;left:50%;width:40%;margin:-90px 0 0 -20%;}
    .main .contact caption {color:#000;}
</style>
<div class="container">
    <div class="jumbotron main">
        <table class="table text-center contact">
            <caption class="text-center ">Contact me</caption>
            <tr class="active">
                <td>姓名</td>
                <td>赵磊磊</td>
            </tr>
            <tr class="success">
                <td>电话</td>
                <td>13185715140</td>
            </tr>
            <tr class="warning">
                <td>邮箱</td>
                <td>zhaoleilei2015@163.com</td>
            </tr>
            <tr class="danger">
                <td>地址</td>
                <td>杭州市滨江区</td>
            </tr>
        </table>
    </div>
</div>
<%- include footer.html %>
