<style>
    .footer {color:#fff;}
    .footer .nav-opacity {opacity:0.8;}
    .footer .title {margin:0;padding-top:20px;}
    .footer .link {color:rgba(255,255,255,.5);}
</style>
<div class="footer">
    <nav class="navbar navbar-inverse navbar-fixed-bottom nav-opacity">
        <div class="container">
             <p class="text-center title">SixStone —— Welcome to my world</p>
             <hr>
            <ul class="list-inline">
                <li><strong>Links:</strong></li>
                <li><a class="link" href="http://www.baidu.com" target="_blank">百度</a></li>
                <li><a class="link" href="http://aliexpress.com" target="_blank">速卖通</a></li>
                <li><a class="link" href="http://aliexpress.com" target="_blank">速卖通</a></li>
                <li><a class="link" href="http://aliexpress.com" target="_blank">速卖通</a></li>
                <li><a class="link" href="http://aliexpress.com" target="_blank">速卖通</a></li>
                <li><a class="link" href="http://aliexpress.com" target="_blank">速卖通</a></li>
                <li><a class="link" href="http://aliexpress.com" target="_blank">速卖通</a></li>
                <li><a class="link" href="http://aliexpress.com" target="_blank">速卖通</a></li>
                <li><a class="link" href="http://aliexpress.com" target="_blank">速卖通</a></li>
                <li><a class="link" href="http://aliexpress.com" target="_blank">速卖通</a></li>
                <li><a class="link" href="http://aliexpress.com" target="_blank">速卖通</a></li>
                <li><a class="link" href="http://aliexpress.com" target="_blank">速卖通</a></li>
                <li><a class="link" href="http://aliexpress.com" target="_blank">速卖通</a></li>
                <li><a class="link" href="http://aliexpress.com" target="_blank">速卖通</a></li>
                <li><a class="link" href="http://aliexpress.com" target="_blank">速卖通</a></li>
                <li><a class="link" href="http://aliexpress.com" target="_blank">速卖通</a></li>
                <li><a class="link" href="http://aliexpress.com" target="_blank">速卖通</a></li>
                <li><a class="link" href="http://aliexpress.com" target="_blank">速卖通</a></li>
                <li><a class="link" href="http://aliexpress.com" target="_blank">速卖通</a></li>
                <li><a class="link" href="http://aliexpress.com" target="_blank">速卖通</a></li>
                <li><a class="link" href="http://aliexpress.com" target="_blank">速卖通</a></li>
                <li><a class="link" href="http://aliexpress.com" target="_blank">速卖通</a></li>
                <li><a class="link" href="http://aliexpress.com" target="_blank">速卖通</a></li>
                <li><a class="link" href="http://aliexpress.com" target="_blank">速卖通</a></li>
            </ul>

        </div>
    </nav>
</div>
<!--百度统计-->
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?81059dc28b5add1b9ef23434c780dcf0";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
