<style>
    .top .list-item-inner{line-height:28px;color:rgba(255,255,255,0.5)}
    .top a.list-item-inner:hover {color:#fff;background-color:#000;}
    .top a.list-item-inner:visited {color:#fff;background-color:#000;}
    .top .list-item-wel {margin-bottom:0;line-height:50px;color:rgba(255,255,255,0.5)}
    .top a.current {background-color:#080808;color:#fff;}
</style>
<div class="top">
    <nav class="navbar navbar-inverse navbar-fixed-top nav-opacity">
        <div class="container">
            <ul class="nav nav-pills">
                <li class="list-item"  role="presentation"><a class="list-item-inner" href="/">sixStone's world</a></li>
                <li class="list-item" role="presentation"><a class="list-item-inner current" href="/">Home</a></li>
                <li class="list-item" role="presentation"><a class="list-item-inner" href="/works">Works</a></li>
                <li class="list-item" role="presentation"><a class="list-item-inner" href="/blogs">Blog</a></li>
                <li class="list-item" role="presentation"><a class="list-item-inner" href="/about">About me</a></li>
                <li class="list-item" role="presentation"><a class="list-item-inner" href="/contact">Contact me</a></li>
                <li class="list-item pull-right" role="presentation"><p class="list-item-wel">Welcome to my world</p></li>
            </ul>
        </div>
    </nav>
</div>
<!--<script>-->
    <!--$(".list-item-inner").click(function(e){-->
        <!--$(".list-item-inner").each(function(index,item){-->
            <!--if($(item).hasClass('current')){-->
                <!--$(item).removeClass('current');-->
            <!--}-->
        <!--});-->
        <!--$(e.target).addClass('current');-->
    <!--})-->
<!--</script>-->
