*,*:before,*:after{margin:0;padding:0;box-sizing:border-box;}
body {background-color:#f5f5f5;}
header {background-color:#222;}
.col-pd0{padding-left:0;padding-right:0;}
.navbar a.navbar-brand span.logo_description {color:#ccc;text-shadow:none;}
#nav li a {color:rgba(255,255,255,.7);}
#nav li a:hover {color:#fff;}
#nav li.active a {color:#fff;}

.content-wrapper {min-height:300px;}
.list-group-item {background:none;border:none;padding-left:0;}

.breadcrumb {background-color:#fff;}
.breadcrumb-mg {margin:26px 0;}
.list-item {padding:20px 0 20px 20px;border-top:dashed 1px #ccc;background-color:#fff;margin-bottom:20px;}
.list-group-item-text {margin-bottom:5px;}
.comment {border-bottom:1px solid #ccc; }
#pagination .current a {background-color:#428bca;color:#fff;}
.category-active a {color:#000;}

footer {min-height:160px;background-color:#222;color:#fff;padding-top:35px;}
.copy-right-wrapper {padding:10px 0 60px;border-top:1px solid #343437;}
.copy-right {margin-top:30px;font-style:italic;text-align:center;color:#a6a6a7;}

